$sector-colors: ();

@for $i from 0 through 30 {
  $sector-colors: append($sector-colors, hsl($i * 137.5, 70%, 40%));
}

$green: #02C39A;
$green-hovered: #029C7B;
$green-active: #01755C;
$red: #E63946;
$red-hovered: #B82E38;
$red-active: #8A222A;
